.contactBanner {
  background: url("../pictures/contact.jpg") center center;
  height: 20vh;
  position: relative;
}

.contactBannerTitle {
  font-family: Playfair Display;
  margin-top: 0px;
  text-align: center;
  font-size: 80px;
  padding-right: 90px;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px white;
  padding-top: 50px;
}

@media screen and (max-width: 428px) {
  .contactBannerTitle {
    font-size: 60px;
    padding-right: 0px;
  }
}
