.container-contact {
  background-color: #171f32;

  margin: auto;
  width: 50%;
  height: 700px;
  padding: 0%;
  margin-bottom: 600px;
  border-radius: 30px;
  text-align: center;
  margin-top: 170px;
  padding: 30px;

  padding-right: 80px;
}

.contactBannerTitle {
  text-align: center;
  margin-top: -150px;
  padding-right: 130px;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px white;
}

.start-number-control {
  width: 25px;
}

.documents {
  width: 500px;
  height: 400px;
  resize: none;
  border-radius: 10px;
  margin-top: 30px;
  outline: none;
}

.form-control {
  height: 30px;
}

.email-control {
  width: 350px;
  height: 30px;
  margin-top: 80px;
  outline: none;
}
.emailStart {
  margin-top: -36px;
}

.emailBox {
  margin-top: 40px;
  margin-left: -300px;
}

.start-number-control {
  height: 30px;
  width: 50px;
  outline: none;
}

.mobile-control {
  width: 290px;
  height: 30px;
  margin-left: 60px;
  outline: none;
}

.firstName {
  margin-left: -190px;
  outline: none;
}
.secondName {
  margin-left: 190px;
  margin-top: -36px;
  outline: none;
}

.mailAddress {
  margin-top: -44px;
}

.btn-send {
  width: 140px;
  height: 40px;
  background-color: #ff611d;

  margin-top: 25px;
}

.btn-send:hover {
  cursor: pointer;
}
