.containerLogin {
  border: px solid red;
  display: flex;
  height: 568px;
  align-items: center;
  justify-content: center;
}

.mb-3 {
  border: px solid green;
  height: 50px;
  display: block;
  margin-top: 35px;
  justify-content: left;
  align-items: center;
}
.loginPageFontStyle {
  margin-bottom: 5px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}
.loginPageForgotPassword {
  display: inline;
  float: right;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}
.signInContainer {
  border: px solid green;
  display: flex;
  height: 130px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}

.h1LoginPage {
  font-family: "Roboto", sans-serif;
  color: white;
  display: flex;
  font-weight: normal;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}

.signInHeader {
  border: px solid black;
  display: flex;
  height: 100px;
  width: 700px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 70px;
  justify-content: center;
  background-color: #171f32;
}

.loginPageForm {
  border: px solid blue;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.loginBoxes {
  border: px solid purple;
  height: 28px;
  width: 300px;
  display: flex;
  justify-content: right;
}
.loginPageContainer {
  border: px solid black;
  display: flex;
  margin-top: -100px;
  width: 700px;
  height: 350px;
  background-color: #ececec;
}

.loginPageButton {
  border: px solid red;
  background-color: #ff611d;
  display: flex;
  height: 40px;
  width: 140px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-top: 8%;
  border: none;
  cursor: pointer;
}

.LoginButtonText {
  color: white;
  display: flex;
  font-size: 18px;
  justify-content: right;
  align-items: center;
}

.loginpage {
  padding-bottom: 400px;
}
