.authorText {
  text-align: right;
}

.blogBoxes {
  display: flex;
}

.rowTest {
  margin-left: 100px;
  background-color: aqua;
}

.mainText {
  margin-left: 80px;
}

.second-row {
  display: flex;
}

.middle-text {
  font-family: Playfair Display;
  font-size: 72px;
  padding-left: 20px;
}

.sortBy {
  float: right;
  margin-top: -45px;
  margin-right: 170px;
}

@media screen and (max-width: 428px) {
  .blogBoxes {
    flex-direction: column;
    width: 100%;
    margin-left: -5px;
  }

  .second-row {
    flex-direction: column;
    width: 100%;
    margin-left: -5px;
  }

  .sortBy {
    float: none;
    margin-left: 200px;
  }

  .middle-text {
    padding-left: 5;
    font-size: 60px;
  }
}
