.authorText {
  text-align: right;
}

.blogBoxes {
  display: flex;
}

.rowTest {
  margin-left: 100px;
  background-color: aqua;
}

.mainText {
  margin-left: 80px;
}

.second-row {
  display: flex;
}

.middle-text {
  font-family: Playfair Display;
  font-size: 72px;
  padding-left: 20px;
}

.sortBy {
  float: right;
  margin-top: -45px;
  margin-right: 170px;
}
.make-blog-post {
  width: 150px;
  height: 40px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #0000001c;
  color: black;
  outline: none;
  transition: 0.5s ease-in-out;
  border-radius: 10px;
}
.blog-box {
  padding-left: 20px;
}
.make-blog-post:hover {
  transition: 0.5s ease-in-out;
  color: white;
  background-color: #ff611d;
}

@media screen and (max-width: 428px) {
  .make-blog-post {
    margin-bottom: 30px;
  }
  .blogBoxes {
    flex-direction: column;
    width: 100%;
    margin-left: -5px;
  }

  .second-row {
    flex-direction: column;
    width: 100%;
    margin-left: -5px;
  }

  .sortBy {
    float: none;
    margin-left: 200px;
    margin-top: -60px;
  }

  .middle-text {
    padding-left: 5;
    font-size: 60px;
  }
}
