@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");

.pictureTextBox {
  margin: auto;

  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 2px 8px rgb(117, 117, 117);
  transition: transform 100ms ease-in;
  cursor: pointer;
  background-color: #ebebeb;
  color: rgb(0, 0, 0);
  padding: 0px;
  display: flex;
  height: 700px;
  margin-top: -1px;
  background: url("../pictures/host.jpg");
}

.descBox {
  margin-left: 20px;
  margin-top: -10px;
  max-width: 650px;
}

.dateText {
  text-align: left;
  color: #ff611d;
  font-size: 20px;
}

.titleTextPosts {
  font-weight: 500;
  font-size: 48px;
  font-family: "Playfair Display", serif;
}

.lineText {
  margin-top: -25px;
  font-weight: bold;
}

.descText {
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  color: #ff611d;
}

.secDescText {
  font-size: 20px;
}

.authText {
  text-align: right;
  margin-right: 15px;
}
.post-title-text {
  font-family: "Playfair Display", serif;
  margin-left: -5px;
}
