@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');


.listingDetails{
    margin-top:10px;
    width:1100px;
}

.flexContainer1{
    display: flex;
}
h1.listingTitle{
    margin-top: 30px;
    font-size: 50px;
    margin-left: 50px;
    margin-bottom: 0px;
    font-family: 'Playfair Display', serif;
    color:black;
    width:800px;
   
}

h3.listingAddress{
    padding-top:5px;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    margin-left: 50px;
    margin-top: 0;
    margin-bottom: 0px;
    font-weight: 100;
    width:800px;
    
}


p.listingInformation{
    font-family: 'Roboto', sans-serif;
    margin-left: 50px;
    font-size: 15px;
    font-weight: 300;
    width:1000px;
    padding-top:15px;
    border-top: 1px solid #000;
    text-align: justify;
    display: block;
    height:150px;
    margin-bottom:0;
}

.listingIcons{
    margin-left: 10px;
    width:50px;
    padding:10px;
    font-size: 13px;
   
}
.listingIcons2{
    margin-left: 10px;
    width:50px;
    padding:10px;
    font-size: 13px;
    display: flex;
}
.listingIcons3{
    margin-left: 10px;
    width:50px;
    padding:10px;
    font-size: 13px;
    display: flex;
}

.shareIcons{
    margin-left: 15px;
    border: 1px solid rgb(226, 226, 226);
    padding:10px
}
.shareContainer{
    margin-left: 49px;
    display: flex;
    width:200px;
    border: 1px solid rgb(226, 226, 226);
}

.flexContainer3{
    display: flex;
    margin-top:100px;
    margin-left:-50px;
    height:50px;
    border: 1px solid rgb(226, 226, 226);
}

.iconNum{
    margin-left:5px;
    color:#FF611D;
}

