@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,400&display=swap');

.banner {
  background: url("pictures/topban.png") center center;
  height: 80vh;
  position: relative;
}

.containerslogan{
  display: flex;
  text-align: right;
}

h1.slogan{
  font-size: 100px;
  line-height: 1;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  margin-left: 100px;
  margin-top: 120px;
  position:absolute;
  text-align: left;
  text-decoration: underline;
  color: #ffff;
}