.blogBox {
  margin: 10px;
  margin-left: 20px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 2px 8px rgb(117, 117, 117);
  transition: transform 100ms ease-in;
  cursor: pointer;
  background-color: #ebebeb;
  color: rgb(0, 0, 0);
  padding: 0px;
}

.blogBox:hover {
  transform: scale(1.02);
}

.blogBox > img {
  object-fit: fill;

  min-width: 300px;
  min-height: 200px;

  width: 100%;
}
.title {
  margin: 0px;
  margin-top: -20px;
  align-items: left;
}

.description {
  text-align: left;

  font-size: 13px;
}

.author {
  text-align: right;
}
