.card {
  margin: 10px;
  margin-left: 20px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 2px 8px rgb(146, 146, 146);
  transition: transform 100ms ease-in;
  cursor: pointer;
  background-color: #171F32;
  color: #fff;
  padding:0px;
}

.card:hover {
  transform: scale(1.02);
}

.card > img {
  object-fit: fill;

  min-width: 300px;
  min-height: 200px;

  width: 100%;
}

.description{
  text-align: left;
  padding:20px;
  font-size: 13px;
}
