.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background-color: #171f32;
  z-index: 100;
  width: 100%;
}

.loggo {
  object-fit: contain;
  height: 100px;
  margin-left: 40px;
}

.searchBar {
  display: flex;
  flex: 1;
  align-items: center;
  max-width: fit-content;
  padding: 10px;
  height: 30px;
  background-color: white;
  border: 1px solid rgb(144, 143, 143);
  border-radius: 999px;
}

.searchBar > input {
  border: none;
  outline: none;
  width: 200px;
}

.icons {
  display: flex;
  align-items: center;
  color: rgb(233, 233, 233);
  margin-right: 40px;
}

.iconText {
  font-family: sans-serif;
}
