@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');

*{
  font-family: 'Roboto', sans-serif;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  position: sticky;
  background-color: #171f32;
  z-index: 100;
  width: 100%;
}

.loggo {
  object-fit: contain;
  height: 100px;
  margin-left: 40px;
  margin-top:15px;
  margin-bottom: 15px;
}

.searchBar {
  display: flex;
  flex: 1;
  align-items: center;
  max-width: fit-content;
  padding: 10px;
  height: 15px;
  background-color: white;
  border: 1px solid rgb(144, 143, 143);
  border-radius: 999px;
}

.searchBar > input {
  border: none;
  outline: none;
  width: 200px;
}

.icons {
  display: flex;
  align-items:center;
  color: rgb(233, 233, 233);
  margin-right: 40px;
  margin-left:20px;
}

.iconText {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin-left:10px;
}
