@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

.none {
}

.navigation {
  background-color: #171f32;
  height: 40px;
  text-align: center;
  padding: 0px;
  padding-bottom: 10px;
}

.test {
  margin-left: -115px;
  align-items: center;
}

.test > button {
  border-radius: 55px;
  color: rgb(255, 255, 255);
  margin: 10px;
  margin-top: 1px;
  border: none;
}
.test > button:hover {
  border-radius: 55px;
  color: rgb(255, 255, 255);
  margin: 10px;
  margin-top: 1px;
  border: none;
  background-color: rgb(136, 136, 136);
}

@media screen and (max-width: 428px) {
  .test {
    margin-left: -65px;
    align-items: center;
    width: 420px;
  }
}
